<h2><%= t('views.common.title_index', name: Comment.model_name.human) %></h2>
<% if comments.present? %>
  <%= render comments %>
<% else %>
  <p><%= t('views.common.no_content', name: Comment.model_name.human.downcase) %></p>
<% end %>
